In [1]:
import pandas as pd, matplotlib.pyplot as plt

In [2]:
import calculator, itertools

In [3]:
def rotate_comb(comb):
    return [comb, comb[1:] + comb[:1], comb[2:] + comb[:2]]

In [4]:
TOTAL_FURTUNE = 250000
UNITS = 10000
MIN_FLUID = 30000
MIN_NON_FLUID = 50000

amounts = range(0, TOTAL_FURTUNE, UNITS)
combs = itertools.combinations(amounts, 3)

rotated_combs_by_total_furtune = [rotate_comb(comb) for comb in combs if sum(comb) == TOTAL_FURTUNE]
combs_by_min_fluid = [comb for rotated_combs in rotated_combs_by_total_furtune for comb in rotated_combs if comb[2] >= MIN_FLUID and comb[0]+comb[1] >= MIN_NON_FLUID]
combs_with_netos_sum = [comb + (calculator.sum_netos(*comb),) for comb in combs_by_min_fluid]

In [5]:
df = pd.DataFrame(combs_with_netos_sum, columns = ["2yr_investment", "1yr_investment", "fluid_investment", "sum_netos"])

In [6]:
df.sort_values(by="sum_netos", ascending=False).head(20)

    2yr_investment  1yr_investment  fluid_investment    sum_netos
0           220000               0             30000  1030.625000
18          210000           10000             30000  1023.541667
1           210000               0             40000  1020.000000
36          200000           20000             30000  1016.458333
20          200000           10000             40000  1012.916667
3           200000               0             50000  1009.375000
38          190000           20000             40000  1005.833333
22          190000           10000             50000  1002.291667
55          180000           30000             40000   998.750000
5           190000               0             60000   998.750000
40          180000           20000             50000   995.208333
24          180000           10000             60000   991.666667
58          170000           30000             50000   988.125000
7           180000               0             70000   988.125000
42          170000           20000             60000   984.583333
26          170000           10000             70000   981.041667
76          160000           40000             50000   981.041667
9           170000               0             80000   977.500000
61          160000           30000             60000   977.500000
44          160000           20000             70000   973.958333

In [7]:
calculator.sum_netos(200000, 0, 0)

850.0

In [48]:
calculator.sum_netos(150000, 0, 100000)

956.25

In [47]:
calculator.sum_netos(0, 0, 250000)

796.875

In [35]:
calculator.sum_netos(0, 0, 350000)

1115.625

In [36]:
calculator.sum_netos(200000, 0, 150000)

1328.125

In [49]:
calculator.sum_netos(200000, 0, 50000)

1009.375

In [45]:
calculator.sum_netos(0, 0, 250000)

796.875

In [42]:
318*12

3816